:root {
  --white: #ffffff;
  --black: #000000;

  --grey-700: #001C37;
  --grey-600: #2C3D4E;
  --grey-500: #576C82;
  --grey-400: #90A6BC;
  --grey-300: #CCD9E0;
  --grey-200: #E2EBEE;
  --grey-100: #F4F7F9;

  --blue-clio: #0075bb;

  --blue-link-500: #0070E0;
  --blue-link-600: #004C98;

  --blue-700: #002944;
  --blue-500: #089CFF;
  --blue-300: #9DD8FD;
  --blue-200: #D7EDFB;
  --blue-100: #F2FAFF;

  --red-700: #450004;
  --red-500: #E41B28;
  --red-300: #FFC1C6;
  --red-200: #FFE5E7;
  --red-100: #FFF7F7;

  --orange-700: #560203;
  --orange-500: #FD861E;
  --orange-300: #FDD99C;
  --orange-200: #FEEDD1;
  --orange-100: #FFF8EC;

  --green-700: #042E03;
  --green-500: #339931;
  --green-300: #A8E3A4;
  --green-200: #D1F6D0;
  --green-100: #EFFFEE;

  --teal-700: #003541;
  --teal-500: #0EA5C7;
  --teal-300: #A5DDE9;
  --teal-200: #D8F4FA;
  --teal-100: #EFFCFF;

  --mint-700: #003C29;
  --mint-500: #00B980;
  --mint-300: #9EE2CD;
  --mint-200: #D1F9ED;
  --mint-100: #E8FEF7;

  --coral-700: #560203;
  --coral-500: #FD6B6D;
  --coral-300: #FAC6C7;
  --coral-200: #FFE5E5;
  --coral-100: #FEFAFA;

  --yellow-700: #3F3400;
  --yellow-500: #FFD400;
  --yellow-300: #FAEB9F;
  --yellow-200: #FDF7D6;
  --yellow-100: #FFFCEB;
}
