:root {
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 20px;
  --spacing-xl: 32px;

  --label-margin-top: var(--spacing-xs) 0 0 0;
  --label-margin-bottom: 0 0 var(--spacing-xs) 0;
}
