// Turn on this custom theme to test theming

// .custom-theme {
//   --font-size-h1: 80px;
//   --font-size-h2: 60px;
//   --font-size-h3: 40px;
//   --font-size-h4: 30px;
// }

// .custom-theme clio-button {
//   --clio-button-border-radius: 6px;
//   --clio-button-padding-y: 20px;
//   --clio-button-padding-x: 20px;
//   --clio-button-font-size: 20px;

//   --clio-button--danger-default-gradient: 0;
//   --clio-button--danger-default-background-color: var(--mint-500);
//   --clio-button--danger-default-border-color: var(--mint-500);
//   --clio-button--danger-hover-gradient: 0;
//   --clio-button--danger-hover-gradient: var(--mint-700);
//   --clio-button--danger-hover-border-color: var(--mint-700);

//   --clio-button--primary-default-background-color: var(--blue-link-500);
//   --clio-button--primary-default-border-color: var(--blue-link-500);
//   --clio-button--primary-default-color: #ffffff;
//   --clio-button--primary-default-gradient: none;

//   --clio-button--secondary-default-background-color:var(--white);
//   --clio-button--secondary-default-border-color:var(--blue-link-500);
//   --clio-button--secondary-default-color: var(--blue-link-500);
//   --clio-button--secondary-default-gradient: none;
// }