@import './prismjs-theme.css';
@import './prismjs-shell-theme.css';
@import '../../css/mixins.scss';

docs-code {
  @include code-block;
  display: block;
  position: relative;
  margin: var(--spacing-xl) 0;
  overflow: scroll;
}
docs-code code {
  // This resets code element styling set in page.scss
  background: transparent;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

docs-code:before {
  color: var(--grey-400);
  content: attr(language);
  font-family: var(--code-font-family);
  font-size: 10px;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: 0.75em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}
